/* Section1 / Hero */
.stories-hero {
  width: 1440px;
  height: 650px;
  position: relative;
  margin: 72px auto 0 auto;
}

.hero-bg img {
  width: 1440px;
  height: 650px;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 72px;
  left: 112px;
  width: 387px;
  color: white;
  font-family: 'DM Sans', sans-serif;
}

.hero-tag {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4.17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-meta {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 16px;
}

.hero-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
}

.hero-btn {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* sectionm2-> section 6*/
.section3, .section4, .section5, .section6 {
  display: flex;
  width: 1440px;
  height: 500px;
  margin: 0 auto;
  gap: 0;
}

.section3 .card,
.section4 .card,
.section5 .card,
.section6 .card {
  width: 360px;
  height: 500px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 20px;
}