<!--=========================ჩასატვირთი===================-->

<!-- Section 7 -->
<div class="section7">
  <div class="section7-inner">
    <!-- Column 1 -->
    <div class="section7-column col1">
      <div class="logo-box">
        <div class="triangle"></div>
        <span class="logo-text">PHOTOSNAP</span>
      </div>
      <div class="icon-row">
        <a href="https://facebook.com" target="_blank">
          <img src="/images/facebook (1).png"  class="social-icon">
        </a>
        
        <a href="https://youtube.com" target="_blank">
          <img src="/images/youtube.png"  class="social-icon">
        </a>
        <a href="https://twitter.com" target="_blank">
          <img src="/images/twitter.png"  class="social-icon">
        </a>
        <a href="https://pinterest.com" target="_blank">
          <img src="/images/pinterest.png"  class="social-icon">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="/images/instagram (1).png"  class="social-icon">
        </a>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="section7-column col2">
      <ul class="footer-nav">
        <li><a href="index.html">HOME</a></li> <!--sqrolis vrianti Home-->
        <li><a href="stories.html">STORIES</a></li>
        <li><a href="features.html">FEATURES</a></li>
        <li><a href="pricing.html">PRICING</a></li>
      </ul>
    </div>

    <!-- Column 3 -->
    <div class="section7-column col3">
      <a href="/invite.html" class="invite-button">
        GET AN INVITE <span class="invite-arrow">→</span>
      </a>
      <p class="copyright">Copyright 2019. All Rights Reserved</p>
    </div>
  </div>
</div>


